<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Estabelecimento</title>
</h:head>

<h:body>
	<h:form id="form">
		<p:growl id="messages" />

		<p:dataTable editable="true" id="tabelaEstabelecimento"
			value="#{estabelecimentoMB.estabelecimentos}" var="estabelecimento">
			<p:ajax event="rowEdit" listener="#{estabelecimentoMB.onEdit()}"
				update=":form:tabelaEstabelecimento :form:messages" />

			<p:column headerText="ID" style="width:5%">
				<p:cellEditor>
					<f:facet name="output">
						<h:outputText value="#{estabelecimento.id}" />
					</f:facet>
					<f:facet name="input">
						<p:inputText value="#{estabelecimento.id}" style="width:100%"></p:inputText>
					</f:facet>
				</p:cellEditor>

			</p:column>

			<p:column headerText="NomeFantasia" style="width:10%">
				<p:cellEditor>
					<f:facet name="output">
						<h:outputText value="#{estabelecimento.nomeFantasia}" />
					</f:facet>
					<f:facet name="input">
						<p:inputText value="#{estabelecimento.nomeFantasia}"
							style="width:100%"></p:inputText>
					</f:facet>
				</p:cellEditor>

			</p:column>

			<p:column headerText="RazaoSocial" style="width:10%">
				<p:cellEditor>
					<f:facet name="output">
						<h:outputText value="#{estabelecimento.razaoSocial}" />
					</f:facet>
					<f:facet name="input">
						<p:inputText value="#{estabelecimento.razaoSocial}"
							style="width:100%"></p:inputText>
					</f:facet>
				</p:cellEditor>

			</p:column>

			<p:column headerText="CNPJ" style="width:5%">
				<p:cellEditor>
					<f:facet name="output">
						<h:outputText value="#{estabelecimento.CNPJ}" />
					</f:facet>
					<f:facet name="input">
						<p:inputText value="#{estabelecimento.CNPJ}" style="width:100%"></p:inputText>
					</f:facet>
				</p:cellEditor>

			</p:column>

			<p:column headerText="IE" style="width:5%">
				<p:cellEditor>
					<f:facet name="output">
						<h:outputText value="#{estabelecimento.IE}" />
					</f:facet>
					<f:facet name="input">
						<p:inputText value="#{estabelecimento.IE}" style="width:100%"></p:inputText>
					</f:facet>
				</p:cellEditor>

			</p:column>

			<p:column headerText="IM" style="width:5%">
				<p:cellEditor>
					<f:facet name="output">
						<h:outputText value="#{estabelecimento.IM}" />
					</f:facet>
					<f:facet name="input">
						<p:inputText value="#{estabelecimento.IM}" style="width:100%"></p:inputText>
					</f:facet>
				</p:cellEditor>

			</p:column>

			<p:column headerText="telefone" style="width:5%">
				<p:cellEditor>
					<f:facet name="output">
						<h:outputText value="#{estabelecimento.telefone}" />
					</f:facet>
					<f:facet name="input">
						<p:inputText value="#{estabelecimento.telefone}"
							style="width:100%"></p:inputText>
					</f:facet>
				</p:cellEditor>

			</p:column>

			<p:column headerText="email" style="width:5%">
				<p:cellEditor>
					<f:facet name="output">
						<h:outputText value="#{estabelecimento.email}" />
					</f:facet>
					<f:facet name="input">
						<p:inputText value="#{estabelecimento.email}"
							style="width:100%"></p:inputText>
					</f:facet>
				</p:cellEditor>

			</p:column>
			
			<p:column>
				<p:commandButton icon="ui-icon-close" update=":form:tabelaEstabelecimento :form:messages" action="#{estabelecimentoMB.excluir()}">
					<f:setPropertyActionListener value="#{estabelecimento}" target="#{estabelecimentoMB.estabelecimento}"></f:setPropertyActionListener>
				</p:commandButton>
			</p:column>
			
			<p:column style="width:5%">
				<p:rowEditor/>
			</p:column>

		</p:dataTable>
		
		<br />
		<br />
		
		<p:panelGrid columns="2">
			<f:facet name="header">
				Novo Estabelecimento
			</f:facet>
			
			<h:outputText value="Nome Fantasia: " />
			<p:inputText value="#{estabelecimentoMB.estabelecimento.nomeFantasia}"></p:inputText>
			<h:outputText value="Razão Social: " />
			<p:inputText value="#{estabelecimentoMB.estabelecimento.razaoSocial}"></p:inputText>
			<h:outputText value="CNPJ " />
			<p:inputText value="#{estabelecimentoMB.estabelecimento.CNPJ}"></p:inputText>
			<h:outputText value="IE: " />
			<p:inputText value="#{estabelecimentoMB.estabelecimento.IE}"></p:inputText>
			<h:outputText value="IM: " />
			<p:inputText value="#{estabelecimentoMB.estabelecimento.IM}"></p:inputText>
			<h:outputText value="Telefone: " />
			<p:inputText value="#{estabelecimentoMB.estabelecimento.telefone}"></p:inputText>
			<h:outputText value="Email: " />
			<p:inputText value="#{estabelecimentoMB.estabelecimento.email}"></p:inputText>
			
			<p:commandButton value="Cadastrar!" action="#{estabelecimentoMB.cadastrar()}" update=":form:tabelaEstabelecimento :form:messages"></p:commandButton>
		</p:panelGrid>

	</h:form>
</h:body>

</html>