<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
	<h:outputStylesheet name="materialize.css" library="css" />
	<h:outputStylesheet name="style.css" library="css" />
	<h:outputStylesheet name="custom-style.css" library="css" />
	<h:outputStylesheet name="prism.css" library="css" />
	<h:outputStylesheet name="perfect-scrollbar.css" library="css" />
	<h:outputStylesheet name="chartist.min.css" library="css" />

</h:head>

<h:body styleClass="loaded">

	<!-- Start Page Loading -->
	<div id="loader-wrapper">
		<div id="loader"></div>
		<div class="loader-section section-left"></div>
		<div class="loader-section section-right"></div>
	</div>
	<!-- End Page Loading -->

	<!-- //////////////////////////////////////////////////////////////////////////// -->

	<!-- START HEADER -->

	<header id="header" class="page-topbar"> <!-- Header do sistema -->
	<ui:insert name="header">
		<ui:include src="/template/common/commonHeader.xhtml" />
	</ui:insert> </header>

	<!-- END HEADER -->

	<!-- //////////////////////////////////////////////////////////////////////////// -->

	<!-- START MAIN -->
	<div id="main">
		<!-- START WRAPPER -->
		<div class="wrapper">

			<!-- START LEFT SIDEBAR NAV-->
			<div id="left-sidebar-nav">
				<ui:insert name="menu">
					<ui:include src="/template/common/commonMenu.xhtml" />
				</ui:insert>
			</div>

			<div id="content">
				<div id="breadcrumbs-wrapper" class=" grey lighten-3">


					<div class="container">
						<div class="row">
							<div class="col s12 m12 l12">
								<h5 class="breadcrumbs-title">Helpers</h5>
								<ol class="breadcrumb">
									<li><a
										href="http://demo.geekslabs.com/materialize/v2.1/layout01/index.html">Dashboard</a>
									</li>
									<li><a
										href="http://demo.geekslabs.com/materialize/v2.1/layout01/css-helpers.html#">CSS</a>
									</li>
									<li class="active">Helpers</li>
								</ol>
							</div>
						</div>
					</div>
				</div>


				<div class="container">
					<div class="row">
						<div class="col s12 m12 l12">
							<h5 class="breadcrumbs-title">Título Aqui</h5>
						</div>
					</div>


					<div class="container">
						<div class="section">
							<ui:insert name="content">
								<ui:include src="/template/common/commonContent.xhtml" />
							</ui:insert>

						</div>
					</div>
				</div>

			</div>



		</div>
		<!-- END WRAPPER -->

	</div>


	<!-- START FOOTER -->
	<footer class="page-footer">
	<div class="footer-copyright">
		<div class="container">
			<span>Copyright © 2015 <a class="grey-text text-lighten-4"
				href="http://themeforest.net/user/geekslabs/portfolio?ref=geekslabs"
				target="_blank">GeeksLabs</a> All rights reserved.
			</span> <span class="right"> Design and Developed by <a
				class="grey-text text-lighten-4" href="http://geekslabs.com/">GeeksLabs</a></span>
		</div>
	</div>
	</footer>
	<!-- END FOOTER -->


	<h:outputScript library="primefaces" name="jquery/jquery.js" />
	<h:outputScript library="js" name="materialize.js" />
	<h:outputScript library="js" name="prism.js" />
	<h:outputScript library="js" name="perfect-scrollbar.min.js" />
	<h:outputScript library="js" name="chartist-js/chartist.min.js" />
	<h:outputScript library="js" name="plugins.js" />




</h:body>
</html>