<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<body>
	<ui:composition>

		<!-- start header nav-->
		<div class="navbar-fixed">
			<nav class="cyan">
			<div class="nav-wrapper">

				<ul class="left">
					<li><h1 class="logo-wrapper">
							<a
								href="http://demo.geekslabs.com/materialize/v2.1/layout01/index.html"
								class="brand-logo darken-1"><img
								src="./Helpers _ Materialize - Material Design Admin Template_files/materialize-logo.png"
								alt="materialize logo"/></a> <span class="logo-text">Materialize</span>
						</h1></li>
				</ul>
				<div class="header-search-wrapper hide-on-med-and-down">
					<i class="mdi-action-search active"></i> <input type="text"
						name="Search" class="header-search-input z-depth-2"
						placeholder="Explore Materialize"/>
				</div>
				<ul class="right hide-on-med-and-down">
					<li><a href="javascript:void(0);"
						class="waves-effect waves-block waves-light toggle-fullscreen"><i
							class="mdi-action-settings-overscan"></i></a></li>
					<li><a href="javascript:void(0);"
						class="waves-effect waves-block waves-light"><i
							class="mdi-navigation-apps"></i></a></li>
					<li><a href="javascript:void(0);"
						class="waves-effect waves-block waves-light"><i
							class="mdi-social-notifications"></i></a></li>
					<li><a
						href="http://demo.geekslabs.com/materialize/v2.1/layout01/css-helpers.html#"
						data-activates="chat-out"
						class="waves-effect waves-block waves-light chat-collapse"><i
							class="mdi-communication-chat"></i></a></li>
				</ul>
			</div>
			</nav>
		</div>
		<!-- end header nav-->

	</ui:composition>
</body>
</html>